In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import cv2 # opencv
from mtcnn.mtcnn import MTCNN
from matplotlib import pyplot as plt
from keras.models import load_model
from PIL import Image
import os
from keras import backend
from tensorflow.keras.models import load_model
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Normalizer
from sklearn.svm import SVC
import glob
import cv2
import numpy as np
import tensorflow as tf

In [2]:
def extract_face(filename, required_size=(160, 160)):
    # load image from file
    image = Image.open(filename)
    # convert to RGB, if needed
    image = image.convert('RGB')
    # convert to array
    pixels = np.asarray(image)
    # create the detector, using default weights
    detector = MTCNN()
    # detect faces in the image
    results = detector.detect_faces(pixels)
    #for i in range(len(results)):
    # extract the bounding box from the first face
    for i in range(len(results)):
        x1, y1, width, height = results[i]['box']
        # deal with negative pixel index
        x1, y1 = abs(x1), abs(y1)
        x2, y2 = x1 + width, y1 + height
        # extract the face
        face = pixels[y1:y2, x1:x2]
        # resize pixels to the model size
        image = Image.fromarray(face)
        image = image.resize(required_size)
        face_array = np.asarray(image)
        return face_array

In [3]:
def load_face(dir):
    faces = list()
    # enumerate files
    for filename in os.listdir(dir):
        path = dir + filename
        face = extract_face(path)
        faces.append(face)
    return faces

def load_dataset(dir):
    # list for faces and labels
    X, y = list(), list()
    for subdir in os.listdir(dir):
        path = dir + subdir + '/'
        faces = load_face(path)
        labels = [subdir for i in range(len(faces))]
        print("loaded %d sample for class: %s" % (len(faces),subdir) ) # print progress
        X.extend(faces)
        y.extend(labels)
    return np.asarray(X), np.asarray(y)

    โหลด dataset จากไฟล์ datas

In [4]:
trainX, trainy = load_dataset('./datas/train/')
print(trainX.shape, trainy.shape)
# load test dataset
testX, testy = load_dataset('./datas/val/')
print(testX.shape, testy.shape)

WARNING:tensorflow:5 out of the last 55 calls to <function Model.make_predict_function.<locals>.predict_function at 0x00000114AA8AC3A8> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:5 out of the last 55 calls to <function Model.make_predict_function.<locals>.predict_function at 0x00000114AAAFD708> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
loaded 25 sample for class: Alameen
loaded 40 sample for class: Apinun
loaded 40 sample for class: Arim
loaded 40 sample for class: Chanchanok
loaded 40 sample for class: Chareef
loaded 40 sample for class: Jantapa
loaded 40 sample for class: Jetnipat
loaded 40 sample for class: Kanda
loaded 40 sample for class: Ketsiree
loaded 40 sample for class: Nanfa
loaded 40 sample for class: Napadsakorn
loaded 40 sample for class: Naslimin
loaded 40 sample for class: Natthapon
loaded 40 sample for class: Natthawut
loaded 40 sample for class: Nattida
loaded 40 sample for class: Nichakan
loaded 40 sample for class: Pajaree
loaded 40 sample for class: Panjira
loaded 40 sample for class: Pattanun
loaded 40 sample for class: Phimwadi
loaded 40 sample for class: Phiraphon
loaded 40 sample for class: Ruchikon
loaded 40 sample for class: Santi
loaded 40 sample for class: Santiphap
loaded 40 sample for class: Sarawadee
loaded 40 sample for class: Sarayut
loaded 40 sample for class: Sorawit
loaded 40 sample for class: Sufian
loaded 40 sample for class: Sutthisarn
loaded 40 sample for class: Tannut
loaded 40 sample for class: Teeraphat
loaded 40 sample for class: Teerayut
loaded 28 sample for class: Thodsapon
loaded 40 sample for class: Waraporn
loaded 40 sample for class: Warinthon
(1373, 160, 160, 3) (1373,)
loaded 5 sample for class: Alameen
loaded 8 sample for class: Apinun
loaded 10 sample for class: Arim
loaded 10 sample for class: Chanchanok
loaded 9 sample for class: Chareef
loaded 10 sample for class: Jantapa
loaded 8 sample for class: Jetnipat
loaded 10 sample for class: Kanda
loaded 10 sample for class: Ketsiree
loaded 10 sample for class: Nanfa
loaded 9 sample for class: Napadsakorn
loaded 7 sample for class: Naslimin
loaded 10 sample for class: Natthapon
loaded 10 sample for class: Natthawut
loaded 10 sample for class: Nattida
loaded 10 sample for class: Nichakan
loaded 10 sample for class: Pajaree
loaded 10 sample for class: Panjira
loaded 8 sample for class: Pattanun
loaded 10 sample for class: Phimwadi
loaded 9 sample for class: Phiraphon
loaded 7 sample for class: Ruchikon
loaded 10 sample for class: Santi
loaded 10 sample for class: Santiphap
loaded 10 sample for class: Sarawadee
loaded 10 sample for class: Sarayut
loaded 9 sample for class: Sorawit
loaded 9 sample for class: Sufian
loaded 10 sample for class: Sutthisarn
loaded 9 sample for class: Tannut
loaded 6 sample for class: Teeraphat
loaded 10 sample for class: Teerayut
loaded 5 sample for class: Thodsapon
loaded 10 sample for class: Waraporn
loaded 9 sample for class: Warinthon
(317, 160, 160, 3) (317,)

    บีบอัดข้อมูล dataset จะได้ file npz

In [5]:
np.savez_compressed('faces-dataset.npz', trainX, trainy, testX, testy)

load model

In [6]:
facenet_model = load_model('./facenet_keras.h5')

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.

In [7]:
data = np.load('faces-dataset.npz',allow_pickle=True)

In [8]:
trainX, trainy, testX, testy = data['arr_0'], data['arr_1'], data['arr_2'], data['arr_3']

In [9]:
print('Loaded: ', trainX.shape, trainy.shape, testX.shape, testy.shape)

Loaded:  (1373, 160, 160, 3) (1373,) (317, 160, 160, 3) (317,)

ทำ embedding ใบหน้า

In [10]:
def get_embedding(model, face):
    # scale pixel values
    face = face.astype('float32')
    # standardization
    mean, std = face.mean(), face.std()
    face = (face-mean)/std
    # transfer face into one sample (3 dimension to 4 dimension)
    sample = np.expand_dims(face, axis=0)
    # make prediction to get embedding
    yhat = model.predict(sample)
    return yhat[0]

emdTrainX = list()
for face in trainX:
    emd = get_embedding(facenet_model, face)    
    emdTrainX.append(emd)    
emdTrainX = np.asarray(emdTrainX)
print(emdTrainX.shape)


emdTestX = list()
for face in testX:
    emd = get_embedding(facenet_model, face)
    emdTestX.append(emd)
emdTestX = np.asarray(emdTestX)
print(emdTestX.shape)
np.savez_compressed('faces-embeddings.npz', emdTrainX, trainy, emdTestX, testy) 
print("save face-embeddings success")

(1373, 128)
(317, 128)
save face-embeddings success

tarin and predict

In [11]:
in_encoder = Normalizer()
emdTrainX_norm = in_encoder.transform(emdTrainX)
emdTestX_norm = in_encoder.transform(emdTestX)

out_encoder = LabelEncoder()
out_encoder.fit(trainy)
trainy_enc = out_encoder.transform(trainy)
testy_enc = out_encoder.transform(testy)

model = SVC(kernel='linear', probability=True)
pred= model.fit(emdTrainX_norm, trainy_enc)

yhat_train = model.predict(emdTrainX_norm)
yhat_test = model.predict(emdTestX_norm)

score_train = accuracy_score(trainy_enc, yhat_train)
score_test = accuracy_score(testy_enc, yhat_test)

print('Accuracy: train=%.3f, test=%.3f' % (score_train*100, score_test*100))

Accuracy: train=100.000, test=100.000

In [12]:
print(yhat_test)

[ 0  0  0  0  0  1  1  1  1  1  1  1  1  2  2  2  2  2  2  2  2  2  2  3
  3  3  3  3  3  3  3  3  3  4  4  4  4  4  4  4  4  4  5  5  5  5  5  5
  5  5  5  5  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  8  8
  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9  9  9  9 10 10 10 10 10 10
 10 10 10 11 11 11 11 11 11 11 12 12 12 12 12 12 12 12 12 12 13 13 13 13
 13 13 13 13 13 13 14 14 14 14 14 14 14 14 14 14 15 15 15 15 15 15 15 15
 15 15 16 16 16 16 16 16 16 16 16 16 17 17 17 17 17 17 17 17 17 17 18 18
 18 18 18 18 18 18 19 19 19 19 19 19 19 19 19 19 20 20 20 20 20 20 20 20
 20 21 21 21 21 21 21 21 22 22 22 22 22 22 22 22 22 22 23 23 23 23 23 23
 23 23 23 23 24 24 24 24 24 24 24 24 24 24 25 25 25 25 25 25 25 25 25 25
 26 26 26 26 26 26 26 26 26 27 27 27 27 27 27 27 27 27 28 28 28 28 28 28
 28 28 28 28 29 29 29 29 29 29 29 29 29 30 30 30 30 30 30 31 31 31 31 31
 31 31 31 31 31 32 32 32 32 32 33 33 33 33 33 33 33 33 33 33 34 34 34 34
 34 34 34 34 34]

In [13]:
print(score_test)

1.0

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(testy_enc, yhat_test)

array([[ 5,  0,  0, ...,  0,  0,  0],
       [ 0,  8,  0, ...,  0,  0,  0],
       [ 0,  0, 10, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  5,  0,  0],
       [ 0,  0,  0, ...,  0, 10,  0],
       [ 0,  0,  0, ...,  0,  0,  9]], dtype=int64)

In [15]:
image = Image.open('./datas/val/Chareef/3.jpg')
image = image.convert('RGB')
pixels = np.asarray(image)
detector = MTCNN()
results = detector.detect_faces(pixels)
for i in range(len(results)):
    x1, y1, width, height = results[i]['box']
    x1, y1 = abs(x1), abs(y1)
    x2, y2 = x1 + width, y1 + height
    face = pixels[y1:y2, x1:x2]
    image = Image.fromarray(face)
    image = image.resize((160,160))
    face_array = np.asarray(image)
    cv2.imwrite('./data/img_{}.jpg'.format(i),face_array)
    
    
data = list()
for i in glob.glob('data/*.jpg', recursive=True):
    data.append(cv2.imread(i))
emdTestX = list()
for face in data:
    emd = get_embedding(facenet_model, face)
    emdTestX.append(emd)
emdTestX = np.asarray(emdTestX)
emdTestX_norm = in_encoder.transform(emdTestX)
yhat_test = model.predict(emdTestX_norm)
print(yhat_test)
predict_name = out_encoder.inverse_transform(yhat_test)
print(predict_name)

[4]
['Chareef']

In [16]:
print(yhat_test[0])

4

In [17]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Normalizer
from sklearn.svm import SVC
from matplotlib import pyplot

yhat_prob = model.predict_proba(emdTestX_norm)
class_index = yhat_test[0]
class_probability = yhat_prob[0,class_index] * 100
predict_names = out_encoder.inverse_transform(yhat_test)
print('Predicted: %s (%.3f)' % (predict_names[0], class_probability))

Predicted: Chareef (61.551)

In [18]:
print(yhat_test[0])

4

In [19]:
import pandas as pd
df = pd.read_csv('score.csv')
df

    no          id         name  score
0    1  6035512001      Alameen    NaN
1    2  6035512002       Apinun    NaN
2    3  6035512003         Arim    NaN
3    4  6035512004   Chanchanok    NaN
4    5  6035512005      Chareef    NaN
5    6  6035512006      Jantapa    NaN
6    7  6035512007     Jetnipat    NaN
7    8  6035512008        Kanda    NaN
8    9  6035512009     Ketsiree    NaN
9   10  6035512010        Nanfa    NaN
10  11  6035512011  Napadsakorn    NaN
11  12  6035512012     Naslimin    NaN
12  13  6035512013    Natthapon    NaN
13  14  6035512014    Natthawut    NaN
14  15  6035512015      Nattida    NaN
15  16  6035512016     Nichakan    NaN
16  17  6035512017      Pajaree    NaN
17  18  6035512018      Panjira    NaN
18  19  6135512002     Pattanun    NaN
19  20  6035512019     Phimwadi    NaN
20  21  6035512020    Phiraphon    NaN
21  22  6135512005     Ruchikon    NaN
22  23  6035512021        Santi    NaN
23  24  6035512022    Santiphap    NaN
24  25  6035512023    Sarawadee    NaN
25  26  6035512024      Sarayut    NaN
26  27  6035512025      Sorawit    NaN
27  28  6135512028       Sufian    NaN
28  29  6035512026   Sutthisarn    NaN
29  30  6135512016       Tannut    NaN
30  31  6035512027    Teeraphat    NaN
31  32  6035512028     Teerayut    NaN
32  33  6035512029    Thodsapon    NaN
33  34  6035512030     Waraporn    NaN
34  35  6135512053    Warinthon    NaN

In [20]:

for i in range(len(yhat_test)):
    print(yhat_test[i])
    predict_name = out_encoder.inverse_transform(yhat_test)
    #df.at[i,'name'] = predict_name[i]
    df.at[yhat_test[i],'score'] = 1

4

In [21]:
df

    no          id         name  score
0    1  6035512001      Alameen    NaN
1    2  6035512002       Apinun    NaN
2    3  6035512003         Arim    NaN
3    4  6035512004   Chanchanok    NaN
4    5  6035512005      Chareef    1.0
5    6  6035512006      Jantapa    NaN
6    7  6035512007     Jetnipat    NaN
7    8  6035512008        Kanda    NaN
8    9  6035512009     Ketsiree    NaN
9   10  6035512010        Nanfa    NaN
10  11  6035512011  Napadsakorn    NaN
11  12  6035512012     Naslimin    NaN
12  13  6035512013    Natthapon    NaN
13  14  6035512014    Natthawut    NaN
14  15  6035512015      Nattida    NaN
15  16  6035512016     Nichakan    NaN
16  17  6035512017      Pajaree    NaN
17  18  6035512018      Panjira    NaN
18  19  6135512002     Pattanun    NaN
19  20  6035512019     Phimwadi    NaN
20  21  6035512020    Phiraphon    NaN
21  22  6135512005     Ruchikon    NaN
22  23  6035512021        Santi    NaN
23  24  6035512022    Santiphap    NaN
24  25  6035512023    Sarawadee    NaN
25  26  6035512024      Sarayut    NaN
26  27  6035512025      Sorawit    NaN
27  28  6135512028       Sufian    NaN
28  29  6035512026   Sutthisarn    NaN
29  30  6135512016       Tannut    NaN
30  31  6035512027    Teeraphat    NaN
31  32  6035512028     Teerayut    NaN
32  33  6035512029    Thodsapon    NaN
33  34  6035512030     Waraporn    NaN
34  35  6135512053    Warinthon    NaN